<p-sidebar [(visible)]="isCartVisible" position="right" [baseZIndex]="10000" [modal]="true" [dismissable]="false" (onHide)="onDialogHide()" [style]="{ width: '30vw' }">
    <h3>Shopping Cart</h3>
    <p-orderList [value]="products" [listStyle]="{ 'max-height': '30rem' }" header="List of Products" filterBy="gift.name"
        filterPlaceholder="Filter by name">
        <ng-template let-product pTemplate="item">
            <div class="flex flex-wrap p-2 align-items-center gap-3">
                <img id="image" src="/{{ product.gift.imgUrl}}" [alt]="product.gift.name"
                    class="w-4rem shadow-2 flex-shrink-0 border-round" />
                <div class="flex-1 flex flex-column gap-2">
                    <span class="font-bold text-900">
                        <i class="pi pi-plus" (click)="addQuantity(product)"></i> {{ product.quantity }} 
                        <i class="pi pi-minus" (click)="subQuantity(product)"></i>
                    </span>
                    <span class="font-bold">{{ product.gift.name }}</span>
                </div>
                <span class="font-bold text-900">
                    <i class="pi pi-trash" (click)="deleteFromCart(product)"></i>
                    {{ '$' + product.gift.price * product.quantity }}
                </span>
            </div>
        </ng-template>
    </p-orderList>
    <div class="flex justify-content-between mt-3">
        <button pButton label="Payment" (click)="payment()" class="p-button-success"></button>
        <button pButton label="Close" (click)="onDialogHide()" class="p-button-secondary"></button>
    </div>
</p-sidebar>
