<p-orderList 
    [value]="products" 
    [listStyle]="{ 'max-height': '30rem' }" 
    header="List of Products"
    filterBy="gift.name" 
    filterPlaceholder="Filter by name">
        <ng-template let-product pTemplate="item">
            <div class="flex flex-wrap p-2 align-items-center gap-3">
                <img id="image"
                    src="/{{ product.gift.imgUrl}}" 
                    [alt]="product.gift.name" 
                    class="w-4rem shadow-2 flex-shrink-0 border-round" />
                    <div class="flex-1 flex flex-column gap-2">
                        <span class="font-bold">{{ product.gift.name }}</span>
                    </div>
                <span class="font-bold text-900">
                    {{ '$' + product.gift.price  }}
                </span>
            </div>
        </ng-template>
</p-orderList>
<button (click)="payment()">payment</button>
