<p-menubar  [model]="items" >
   
    <ng-template pTemplate="item" let-item let-root="root">
        @if(item.label=='Login'){
            <a  pRipple class="flex align-items-center p-menuitem-link" (click)="setVisibleLogin()">
                <span [class]="item.icon"></span>
                <span class="ml-2">{{ item.label }}</span>
                <p-badge *ngIf="item.badge" [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="item.badge" />
                <span *ngIf="item.shortcut" class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1">{{ item.shortcut }}</span>
                <i *ngIf="item.items" [ngClass]="['pi', root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto']"></i>
            </a>
        }
        @else{
            <a [routerLink]="item.routerLink" pRipple class="flex align-items-center p-menuitem-link">
                <span [class]="item.icon"></span>
                <span class="ml-2">{{ item.label }}</span>
                <p-badge *ngIf="item.badge" [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="item.badge" />
                <span *ngIf="item.shortcut" class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1">{{ item.shortcut }}</span>
                <i *ngIf="item.items" [ngClass]="['pi', root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto']"></i>
            </a>
        }
    </ng-template> 


    <ng-template pTemplate="end">
      
        <div class="flex align-items-center gap-3">
            <i 
            class="pi pi-cart-plus text-3xl custom-cart-badge" 
            pBadge 
            [value]="globalSrv.getCartQuantity()"
            (click)="openCart()">
          </i>
          <div
          (click)="logOut()"
          class="profile-circle"
          [ngStyle]="{
            'background-color':'#356a73' ,
            'color': textColor,
            'border': '2px solid ' + '#356a73',
            'width': '40px',
            'height': '40px',
            'line-height': '40px',
            'text-align': 'center',
            'border-radius': '50%',
            'font-size': '20px'
          }"
        >
        <i 
        class="pi pi-sign-out" 
       
    >
      </i>
        </div>
            <div
            class="profile-circle"
            [ngStyle]="{
              'background-color': backGroundColor,
              'color': textColor,
              'border': '2px solid ' + '#356a73',
              'width': '40px',
              'height': '40px',
              'line-height': '40px',
              'text-align': 'center',
              'border-radius': '50%',
              'font-size': '20px'
            }"
          >
            {{ firstLetter }}
          </div>
            
        </div>
    </ng-template>
</p-menubar>
<app-login [visible]="globalSrv.getLoginView()" (firstLetterChange)="firstLetterChange($event)"/>
<app-cart></app-cart>


