<p>raffle works!</p>
<p-inplace (onActivate)="loadData()">
    <ng-template pTemplate="display">
        <span>raffle</span>
    </ng-template>
    <ng-template pTemplate="content">
        <p-table [value]="raffleList" [tableStyle]="{'min-width': '60rem'}">
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    winners list
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Wined-at</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>{{ item.user?.firstName ||'no winner' }} {{item.user?.lastName }}</td>
                    <td>{{ item.user?.phone }}</td>
                    <td>{{ item.user?.email }}</td>
                    <td>
                        <div>{{ item.gift.name }}</div><img [src]="'/' +  item.gift.imgUrl" [alt]="item.gift.name"
                            width="100" class="border-round" />
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">
                    In total there are {{raffleList ? raffleList.length : 0 }} raffleList.
                </div>
            </ng-template>
        </p-table>
    </ng-template>
</p-inplace>