<!-- <form  [formGroup]="frmRegister">
        <div class="form-group row">
            <input pInputText placeholder="firstName" aria-label="firstName" class="ng-invalid ng-dirty form-control" formControlName="firstName" 
            [ngClass]="{'has-error':!frmRegister.controls['firstName'].valid && frmRegister.controls['firstName'].touched}"/>
            <span *ngIf="frmRegister.controls['firstName'].errors  && frmRegister.controls['firstName'].touched ">first name is require</span>
        </div>
        <div class="form-group row">
            <input pInputText placeholder="lastName" aria-label="lastName" class="form-control" formControlName="lastName" 
            [ngClass]="{'has-error':!frmRegister.controls['lastName'].valid && frmRegister.controls['lastName'].touched}"/>
        </div>
        <div class="form-group row">
            <input pInputText placeholder="email" aria-label="email" class="form-control" formControlName="email" 
            [ngClass]="{'has-error':!frmRegister.controls['email'].valid && frmRegister.controls['email'].touched}"/>
            <span *ngIf="frmRegister.controls['email'].errors  && frmRegister.controls['email'].touched ">email is require</span>
        </div>
        <div class="form-group row">
            <input pInputText placeholder="password" aria-label="password" class="form-control" formControlName="password" 
            [ngClass]="{'has-error':!frmRegister.controls['password'].valid && frmRegister.controls['password'].touched}"/>
            <span *ngIf="frmRegister.controls['password'].errors  && frmRegister.controls['password'].touched ">password is require</span>
        </div>
        <div class="form-group row">
            <input pInputText placeholder="phone" aria-label="phone" class="form-control" formControlName="phone" 
            [ngClass]="{'has-error':!frmRegister.controls['phone'].valid && frmRegister.controls['phone'].touched}"/>
            <span *ngIf="frmRegister.controls['phone'].errors  && frmRegister.controls['phone'].touched ">phone is require</span>
        </div>
        <button [disabled]="frmRegister.invalid" (click)="createUser()">send</button>
    </form> -->
    <form [formGroup]="frmRegister" class="register-form">
        <div class="form-group">
            <input pInputText placeholder="First Name" aria-label="First Name" formControlName="firstName" 
            [ngClass]="{'has-error':!frmRegister.controls['firstName'].valid && frmRegister.controls['firstName'].touched}" />
            <span *ngIf="frmRegister.controls['firstName'].errors && frmRegister.controls['firstName'].touched" class="error-message">First name is required</span>
        </div>
    
        <div class="form-group">
            <input pInputText placeholder="Last Name" aria-label="Last Name" formControlName="lastName" 
            [ngClass]="{'has-error':!frmRegister.controls['lastName'].valid && frmRegister.controls['lastName'].touched}" />
        </div>
    
        <div class="form-group">
            <input pInputText placeholder="Email" aria-label="Email" formControlName="email" 
            [ngClass]="{'has-error':!frmRegister.controls['email'].valid && frmRegister.controls['email'].touched}" />
            <span *ngIf="frmRegister.controls['email'].errors && frmRegister.controls['email'].touched" class="error-message">Email is required</span>
        </div>
    
        <div class="form-group">
            <input pInputText placeholder="Password" aria-label="Password" formControlName="password" 
            [ngClass]="{'has-error':!frmRegister.controls['password'].valid && frmRegister.controls['password'].touched}" />
            <span *ngIf="frmRegister.controls['password'].errors && frmRegister.controls['password'].touched" class="error-message">Password is required</span>
        </div>
    
        <div class="form-group">
            <input pInputText placeholder="Phone" aria-label="Phone" formControlName="phone" 
            [ngClass]="{'has-error':!frmRegister.controls['phone'].valid && frmRegister.controls['phone'].touched}" />
            <span *ngIf="frmRegister.controls['phone'].errors && frmRegister.controls['phone'].touched" class="error-message">Phone is required</span>
        </div>
    
        <button [disabled]="frmRegister.invalid" (click)="createUser()" class="submit-btn">Send</button>
    </form>