<!-- <p>home works!</p>
<div style="background-color: aliceblue; font-size: xx-large; color: chartreuse;" >{{dateOfRaffle }} </div>
<div style="background-color: aliceblue; font-size: xx-large; color: chartreuse;" > </div> -->
<!-- <ng-container *ngIf="raffleService.getDateOfRaffle()  | async as date">
    <h1 style="background-color: aliceblue; font-size: xx-large; color: chartreuse;">{{date}}vvvvvvv</h1>
</ng-container> -->
<!-- <button (click)='startTimer()'>Start Timer</button>
<button (click)='pauseTimer()'>Pause</button>

<p>{{timeLeft}} Seconds Left....</p> -->
<div class="body">
<p><span style=" font-size: 80px; color: rgb(3, 3, 3); font-weight: bolder;" > time left </span></p>
<p><span style=" font-size: 100px; color: rgb(3, 3, 3); font-weight: bolder;" >{{ dueDate | countdown | async }}</span></p>
</div>

