<p-dialog [(visible)]="visible"  [style]="{ width: '450px' }" header="donor Details" [modal]="true" styleClass="p-fluid" (onHide)="hideDialog()">
   
<form [formGroup]="frmDonor">
    <p class="bold"></p>
    <div class="form-group row">
        <div class="flex flex-column gap-2">
            <label for="firstName">First Name</label>
            <input 
                pInputText 
                id="firstName" 
                formControlName="firstName" [ngClass]="{'has-error':!frmDonor.controls['firstName'].valid && frmDonor.controls['firstName'].touched}" />
                <span *ngIf="frmDonor.controls['firstName'].errors && frmDonor.controls['firstName'].errors['ValueNotMatch']">firstName required</span>
        </div>
    </div>
    <div class="flex flex-column gap-2">
        <label for="lastName">Last Name</label>
        <input 
            pInputText 
            id="lastName" 
            formControlName="lastName" [ngClass]="{'has-error':!frmDonor.controls['lastName'].valid && frmDonor.controls['lastName'].touched}" />
            <span *ngIf="frmDonor.controls['lastName'].errors && frmDonor.controls['lastName'].errors['ValueNotMatch']">lastName required</span>
    </div>
    <div class="flex flex-column gap-2">
        <label for="email">Email</label>
        <input 
        type="email"
            pInputText 
            id="email" 
            formControlName="email" [ngClass]="{'has-error':!frmDonor.controls['email'].valid && frmDonor.controls['email'].touched}" />
            <span *ngIf="frmDonor.controls['email'].errors && frmDonor.controls['email'].errors['ValueNotMatch']">please enter a valid email adress</span>
    </div>
    <ng-template pTemplate="footer">
        <p-button
          label="Cancel"
          icon="pi pi-times"
          [text]="true"
          (onClick)="hideDialog()"
        />
        <p-button
          label="Save"
          icon="pi pi-check"
          [text]="true"
          (onClick)="savedonor()"
        />
      </ng-template>
    <!-- <button [disabled]="frmDonor.invalid" (click)="savedonor()">send</button> -->
</form>
</p-dialog>