<!-- <form  [formGroup]="frmLogin">
    <div>
        <input pInputText placeholder="email" aria-label="email" class="form-control" formControlName="email" 
        [ngClass]="{'has-error':!frmRegister.controls['email'].valid && frmRegister.controls['email'].touched}"/>
        <span *ngIf="frmRegister.controls['email'].errors  && frmRegister.controls['email'].touched ">email is require</span>
    </div>
    <div class="form-group row">
        <input pInputText placeholder="password" aria-label="password" class="form-control" formControlName="password" 
        [ngClass]="{'has-error':!frmRegister.controls['password'].valid && frmRegister.controls['password'].touched}"/>
        <span *ngIf="frmRegister.controls['password'].errors  && frmRegister.controls['password'].touched ">password is require</span>
    </div>
    <button [disabled]="frmRegister.invalid" (click)="login()">send</button>
</form>
 -->
